<div class="card text-center">
  <p id="notice"><%= notice %></p>

  <div class="card-header">
    <%= @professor.name %>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <%= @professor.email %>
    </h5>
    <p class="card-text">
      <%= @professor.phone %>
    </p>
    <p class="card-text">
      <%= @professor.address %>
    </p>
    <%= link_to 'Edit', edit_professor_path(@professor), class: "btn btn-success" %>
    <%= link_to 'Back', professors_path, class: "btn btn-warning" %>
  </div>
</div>