<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="form">
    <%= form.label :professor_id %>
    <%= collection_select(:course, :professor_id, Professor.all,
      :id, :name, {}, { :multiple => false, :class => "custom-select"}
    ) %>
  </div>

  <div class="actions">
    <%= form.submit "Save course", :class => "my-3 btn btn-success" %>
  </div>
<% end %>
