<div class="my-5 card text-center">
  <p id="notice"><%= notice %></p>

  <div class="card-header">
    <%= @course.name %>
  </div>

  <div class="card-body">
    <p class="card-text">
      <%= @course.description %>
    </p>
    <p class="card-text">
      <%= @course.professor.name %>
    </p>

    <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-success" %>
    <%= link_to 'Back', courses_path, class: "btn btn-warning" %>
  </div>
</div>